<h2 align="center">The Blog for Web Developers and Tech Bloggers</h2>
<div class="row">
	<div align="center" class="col-sm-offset-2 col-sm-8">
		<p><strong>CodeBlock</strong> is a blog for anyone wanting to write and share about web development and design, tips and how one can improve skills, latest trends, and opinions. CodeBlock is best suited for short piece of writing that addresses the important points a user/reader would like to know or share. <br> </p>
		<p>No need for a lengthy blog piece/article, or story-telling that takes most of the user's time and enery. All it takes is something that's relevant and short. Have something in mind? Start here using CodeBlock.</p>
	</div>
</div>

<p><%= link_to " Back Home", root_path %></p>