<div class="jumbo">
  <h1>It's You, Yourself, and the Web.</h1>
  <h2>Start Writing with <span>Code Block</span></h2>
  <p>
    <%=link_to "Sign up now", signup_path, class: "btn btn-default btn-first"%>
    <%=link_to "Login", login_path, class: "btn btn-default"%>
  </p>
</div>


