<div class="jumbo jumbotron">
  <h2>Start Writing with Alpha Blog</h2>
  <p>
    <%=link_to "Sign up now", "#", class: "btn btn-info"%>
    <%=link_to "Login", "#", class: "btn btn-success"%>
  </p>
</div>

