<div class="jumbo">
  <h1>Your Fingers are longing to Express Your Mind.</h1>
  <h2>Start Writing with <strong>Code Block</strong></h2>
  <p>
    <%=link_to "Sign up now", signup_path, class: "btn btn-warning"%>
    <%=link_to "Login", login_path, class: "btn btn-default"%>
  </p>
</div>


