/* $navbar-default-bg: #3f88c5; */
$navbar-default-bg: transparent;
$navbar-default-link-color: #191919;
$navbar-border-radius:0;
$navbar-default-link-active-color:#191919;
$navbar-default-link-active-bg:none;
$navbar-default-link-hover-color:#191919;
/* $navbar-default-link-hover-bg:#000; */
@import "bootstrap-sprockets";
@import "bootstrap";
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  background-attachment:fixed;
}
/* NAVBAR */
.navbar-form input[type='text'] {
  border:none;
}
.navbar-form input[type='submit'] {
  border:none;
  background:#fff;
  color:#000;
}
.navbar-default .navbar-nav > li > a {
  font-size:15px;
  font-weight:500;
}
#logo {
  margin-left:0;
  float:left;
  font-size:1.7em;
  font-family: 'Coda', cursive;
  font-weight: 800;
  color:#000;
}

.navbar-default .navbar-toggle {
  border:none;
  background-color:none;
  &:hover, &:focus {
    background-color:transparent;
  }

  .icon-bar {
    background-color:#000;
  }

}

/* .yield-wrapper {
  height:780px;
} */
/* HOME */
.home {
  
}

a:hover {
  text-decoration:none;
}

.jumbo {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:500px;
  background-color:#f7f7f7;
  background-image: asset_url('banner2.jpg');
  background-blend-mode:luminosity;
  background-size:cover;
  color:#000;
  padding: 8em 1em;
  text-align:center;
  h1 {
    font-size: 27px;
    font-weight: 300;
    color: #000000;
  }
  h2 {
    font-size: 3em;
    color: #DC2610;

   span {
   font-family: 'Ubuntu', sans-serif;
  }
  }
  a {
    margin-top:30px;
  }
  .btn-first {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
}
.flash-messages {
  margin-left:0;
  margin-right:0;
}

/* ABOUT */



/* ARTICLES */
.create-article {
  height:500px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top:15px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top:5px;
}
.article-title {
  font-weight:bold;
  font-size:1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top:15px;
  padding-bottom:15px;
}
p#desc {
  font-size:18px;
}

/* Users */
.listing {
  list-style:none;
  padding-left:0;
  text-align:center;
}

.badge {
  background-color: #fff;
  color:red;
  margin:0 4px;
}
.badge-edit {
  background-color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  a {
  color:#fff;
  }
}
.input_checkbox input {
  width: auto !important;
}

/* FOOTER */
.footer {
  border-top:1px solid #9d9d9d;
  padding: 10px 0;
  text-align:center;
  a {
  color:#000;
  font-weigth:600;
  }
}
.footer-text {
  display:inline;
  margin-right:1em;
  &:last-child {
  font-weight:bold;
  }
}

