/* $navbar-default-bg: #3f88c5; */
$navbar-default-bg: transparent;
$navbar-default-link-color: #191919;
$navbar-border-radius:0;
$navbar-default-link-active-color:#191919;
$navbar-default-link-active-bg:none;
$navbar-default-link-hover-color:#191919;
/* $navbar-default-link-hover-bg:#000; */
@import "bootstrap-sprockets";
@import "bootstrap";
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  background-attachment:fixed;
}
/* NAVBAR */
.navbar-form input[type='text'] {
  border:none;
}
.navbar-form input[type='submit'] {
  border:none;
  background:#fff;
  color:#000;
}
.navbar-default .navbar-nav > li > a {
  font-size:15px;
  font-weight:500;
}
#logo {
  margin-left:0;
  float:left;
  font-size:1.7em;
  font-family: 'Coda', cursive;
  font-weight: 800;
  color:#A94442;
}

.navbar-default .navbar-toggle {
  border:none;
  background-color:none;
  &:hover, &:focus {
    background-color:transparent;
  }

  .icon-bar {
    background-color:#000;
  }

}

/* .yield-wrapper {
  height:780px;
} */
/* HOME */
.home {
  
}
.jumbo {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:500px;
  background-color:#ccc;
  background-blend-mode:overlay;
  background-position:100% 100%;
  background-size:cover;
  color:#000;
  padding: 8em 1em;
    text-align:center;
  h2 {
    font-size:3em;
    color:#ff8172;
  }
  a {
    margin-top:30px;
  }
}
.flash-messages {
  margin-left:0;
  margin-right:0;
}

/* ABOUT */



/* ARTICLES */
.create-article {
  height:500px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top:15px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top:5px;
}
.article-title {
  font-weight:bold;
  font-size:1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top:15px;
  padding-bottom:15px;
}
p#desc {
  font-size:18px;
}

/* Users */
.listing {
  list-style:none;
  padding-left:0;
  text-align:center;
}
/* FOOTER */
.footer {
  border-top:1px solid #9d9d9d;
  padding: 10px 0;
  text-align:center;
}
.footer-text {
  display:inline;
  margin-right:1em;
}